.icon-salattime {
    background-image: url(./../img/app-dark.svg);
}

body.theme--dark .icon-salattime {
    background-image: url(./../img/app.svg);
}

@media (prefers-color-scheme: dark) {
  .icon-salattime   { background-image: url(./../img/app.svg); }
}
